* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Futura LT Book";
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 3px;
  background-color: black;
  color: white; }

.container {
  width: 400px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center; }

.buttons {
  margin: 0 auto; }
  .buttons > li {
    padding: 5px;
    margin: 2px;
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 63.75px;
    background-color: #333333;
    color: #b3b3b3; }
    .buttons > li:hover {
      background-color: #4d4d4d;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }

li.operator {
  background-color: #4d3200; }
  li.operator:hover {
    background-color: #805300; }

li.double {
  width: 154px !important; }

#answer {
  font-size: 150%;
  text-align: left;
  background-color: #333333;
  height: 75px;
  width: 312px;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 4px;
  margin-top: 2px;
  padding-left: 0.25em; }

#sums {
  border-radius: 5px;
  background-color: #1a1a1a;
  height: 75px;
  width: 600px;
  padding: 5px;
  margin: 5px;
  color: #666666; }
