/* Responsive Indicator
==================================================
Raystation
http://rayuen.com */
.responsive-indicator {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  opacity: 0.9;
  border-radius: 50%;
  background-color: black;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s; }

/* Larger than 960px (devices and browsers) */
@media only screen and (min-width: 960px) {
  .responsive-indicator {
    background-color: red; } }
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .responsive-indicator {
    background-color: black; } }
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .responsive-indicator {
    background-color: rgba(0, 0, 0, 0.8); } }
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .responsive-indicator {
    background-color: rgba(0, 0, 0, 0.5); } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .responsive-indicator {
    background-color: rgba(0, 0, 0, 0.3); } }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .responsive-indicator {
    background-color: rgba(0, 0, 0, 0.1); } }
/* MAIN STYLES
================================================== */
body {
  background: white;
  color: gray;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 27px;
  padding-top: 60px;
  padding-bottom: 60px; }
  body a {
    font-size: inherit; }

a {
  color: #4d4d4d;
  text-decoration: underline;
  font-size: 14px; }

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto; }
  .container p {
    line-height: 1.35em; }
    @media only screen and (max-width: 767px) {
      .container p {
        font-size: .75em; } }

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1em 0em;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: .65em; }
  @media only screen and (max-width: 767px) {
    nav {
      text-align: center; } }
  nav ul, nav ul li {
    display: inline-block; }
    @media only screen and (max-width: 767px) {
      nav ul, nav ul li {
        display: none; } }
  nav logo {
    font-weight: 900;
    margin-right: 2em; }
    nav logo > a {
      color: white;
      text-decoration: none; }
      @media only screen and (max-width: 767px) {
        nav logo > a {
          font-size: 1.25rem; } }

/* CHOICE STYLES
================================================== */
.choice {
  font-family: Verdana, Geneva, sans-serif;
  font-size: .5em; }
  .choice li {
    margin: 3px 0;
    color: #4d4d4d;
    padding: .25em 0 .35em 0;
    background-color: #d4ebf2;
    -webkit-transition: background-color, 1s;
    -moz-transition: background-color, 1s;
    transition: background-color, 1s; }
    .choice li:hover {
      background-color: lightblue;
      -webkit-transition: background-color, 1s;
      -moz-transition: background-color, 1s;
      transition: background-color, 1s; }
  .choice a {
    text-decoration: none;
    font-size: 14px; }

.the-end {
  text-align: center;
  font-weight: 800;
  font-size: 130%; }

/* ATTRIBUTE OPTIONS
==================================================*/
.center {
  text-align: center; }

.visible {
  background-color: silver; }

/* DEBUG WINDOW
================================================== */
.debug {
  position: fixed;
  width: 10%;
  height: 20px;
  color: tomato;
  font-family: Verdana, sans-serif;
  font-size: .45em;
  color: red;
  font-size: 15px;
  width: 60%;
  top: inherit;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
